__pycache__
.ipynb_checkpoints
/settings.json
/test_score/
/predicted_data_from_me_for_testing.csv
/predicted_data_for_testing_scorecalc.csv
/traco_file_to_csv.py
/plot_frame.py
/test/
/predicted_data_for_testing_scorecalc_log.log
/predicted_data_for_testing_scorecalc_videoichbinadepp.mp4
/predicted_data_from_me_for_testing.csv
/predicted_data_from_me_for_testing_log.log
/predicted_data_from_me_for_testing_video.mp4
/submission_guidelines.docx
/predicted_data_test001.csv
/predicted_data_test001_log.log
/predicted_data_test002.csv
/predicted_data_test002_log.log
/predicted_data_test004.csv
/predicted_data_test004_log.log
/predicted_data_test004_video.mp4
/predicted_data_test004_video1.mp4
/trainingt01_log.log
/trainingt01.csv
/trainingtest97.csv
/trainingtest97_log.log
/trainingtest97_video.mp4
/JustAJoke/
